In [1]:
# Importing the necessary library
import pandas as pd

In [5]:
# Load the dataset into a Pandas DataFrame
df = pd.read_csv('business.csv')

In [6]:
# Display the first five rows of the dataset
print("First five rows of the dataset:")
print(df.head())

First five rows of the dataset:
   Year Industry_aggregation_NZSIOC Industry_code_NZSIOC Industry_name_NZSIOC  \
0  2023                     Level 1                99999       All industries
1  2023                     Level 1                99999       All industries
2  2023                     Level 1                99999       All industries
3  2023                     Level 1                99999       All industries
4  2023                     Level 1                99999       All industries

                Units Variable_code  \
0  Dollars (millions)           H01
1  Dollars (millions)           H04
2  Dollars (millions)           H05
3  Dollars (millions)           H07
4  Dollars (millions)           H08

                                     Variable_name      Variable_category  \
0                                     Total income  Financial performance
1  Sales, government funding, grants and subsidies  Financial performance
2                Interest, dividends and donations  Financial performance
3                             Non-operating income  Financial performance
4                                Total expenditure  Financial performance

    Value                             Industry_code_ANZSIC06
0  930995  ANZSIC06 divisions A-S (excluding classes K633...
1  821630  ANZSIC06 divisions A-S (excluding classes K633...
2   84354  ANZSIC06 divisions A-S (excluding classes K633...
3   25010  ANZSIC06 divisions A-S (excluding classes K633...
4  832964  ANZSIC06 divisions A-S (excluding classes K633...

In [7]:
# Output the total number of rows and columns
print("\nTotal number of rows and columns:")
print(df.shape)

Total number of rows and columns:
(50985, 10)

In [8]:
# Identify and list all column names and their respective data types
print("\nColumn names and their data types:")
print(df.dtypes)

Column names and their data types:
Year                            int64
Industry_aggregation_NZSIOC    object
Industry_code_NZSIOC           object
Industry_name_NZSIOC           object
Units                          object
Variable_code                  object
Variable_name                  object
Variable_category              object
Value                          object
Industry_code_ANZSIC06         object
dtype: object

In [9]:
# Check for missing values in each column and provide a count
print("\nMissing values count for each column:")
missing_values = df.isnull().sum()
print(missing_values)

Missing values count for each column:
Year                           0
Industry_aggregation_NZSIOC    0
Industry_code_NZSIOC           0
Industry_name_NZSIOC           0
Units                          0
Variable_code                  0
Variable_name                  0
Variable_category              0
Value                          0
Industry_code_ANZSIC06         0
dtype: int64

In [10]:
print("\nColumns with missing values:")
null_columns = missing_values[missing_values > 0]
print(null_columns)

Columns with missing values:
Series([], dtype: int64)

In [11]:
# Analyze unique values in categorical columns
print("\nUnique values in categorical columns:")
categorical_columns = df.select_dtypes(include=['object']).columns
for col in categorical_columns:
    print(f"{col}: {df[col].nunique()} unique values")

Unique values in categorical columns:
Industry_aggregation_NZSIOC: 3 unique values
Industry_code_NZSIOC: 139 unique values
Industry_name_NZSIOC: 119 unique values
Units: 3 unique values
Variable_code: 39 unique values
Variable_name: 41 unique values
Variable_category: 3 unique values
Value: 13673 unique values
Industry_code_ANZSIC06: 121 unique values

In [12]:
# Calculate Mean, Median, Mode, Standard Deviation, Variance, Min, Max, and Percentiles for each numerical column
numerical_columns = df.select_dtypes(include=['number']).columns
print("\nStatistical Summary for Numerical Columns:")
for col in numerical_columns:
    print(f"\nColumn: {col}")
    print(f"Mean: {df[col].mean()}")
    print(f"Median: {df[col].median()}")
    print(f"Mode: {df[col].mode()[0]}")  # Displaying the first mode in case of multiple modes
    print(f"Standard Deviation: {df[col].std()}")
    print(f"Variance: {df[col].var()}")
    print(f"Minimum: {df[col].min()}")
    print(f"Maximum: {df[col].max()}")
    print(f"25th Percentile: {df[col].quantile(0.25)}")
    print(f"50th Percentile (Median): {df[col].quantile(0.5)}")
    print(f"75th Percentile: {df[col].quantile(0.75)}")

Statistical Summary for Numerical Columns:

Column: Year
Mean: 2018.0
Median: 2018.0
Mode: 2013
Standard Deviation: 3.1623086724678666
Variance: 10.00019613996548
Minimum: 2013
Maximum: 2023
25th Percentile: 2015.0
50th Percentile (Median): 2018.0
75th Percentile: 2021.0